<div class="box">
  <div class="box-image">
  </div>
  <img src="<%= data[0].img %>" alt="header-img" />
  <div class="box-content">
    <h1><%= data[0].title %></h1>
    <p>
      <%= data[0].content %>
    </p>
    <a href="#" class="btn">Show more</a>
  </div>
</div>
