<div class="box">
  <div class="box-image">
  </div>
  <img src="<%= data.img %>" alt="header-img" />
  <div class="box-content">
    <h1><%= data.title %></h1>
    <p>
      <%= data.content %>
    </p>
  </div>
</div>
