*
{
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, serif;
}

html
{
  background: @primaryBackground;
}

body
{
  width: 100%;
  max-width: 700px;
  margin: auto;
}

h1
{
  font-weight: normal;
  color: @titleColor;
  font-family: Oswald, Roboto, Arial, serif;
}
