/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Oswald);
* {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, serif;
}
html {
  background: #EAEAEA;
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin: auto;
}
@media (min-width: 700px) {
  body {
    margin-top: 20px;
  }
}
@media (min-width: 1000px) {
  body {
    flex-direction: row;
    max-width: 1000px;
  }
  body main {
    flex: 5;
  }
}
h1 {
  font-weight: normal;
  color: #555555;
  font-family: Oswald, Roboto, Arial, serif;
}
@media (min-width: 1000px) {
  header.main-header {
    margin-right: 20px;
    flex: 2;
  }
}
.box {
  background: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.box-content {
  padding: 20px;
}
.box-content h1 {
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.box img {
  width: 100%;
}
@media (min-width: 700px) {
  .box {
    margin-bottom: 20px;
  }
}
.btn {
  display: inline-block;
  background: #DCDCDC;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 10px 0;
  color: #000;
  text-decoration: none;
}
